TDSKBUTTON BITMAP "ComponentIcons\\TDSKBUTTON.bmp"
TDSKBUTTON16 BITMAP "ComponentIcons\\TDSKBUTTON16.bmp"
TDSKBUTTON32 BITMAP "ComponentIcons\\TDSKBUTTON32.bmp"
TDSKPANEL BITMAP "ComponentIcons\\TDSKPANEL.bmp"
TDSKPANEL16 BITMAP "ComponentIcons\\TDSKPANEL16.bmp"
TDSKPANEL32 BITMAP "ComponentIcons\\TDSKPANEL32.bmp"
TDSKBUTTONGROUP BITMAP "ComponentIcons\\TDSKBUTTONGROUP.bmp"
TDSKBUTTONGROUP16 BITMAP "ComponentIcons\\TDSKBUTTONGROUP16.bmp"
TDSKBUTTONGROUP32 BITMAP "ComponentIcons\\TDSKBUTTONGROUP32.bmp"
TDSKRADIO BITMAP "ComponentIcons\\TDSKRADIO.bmp"
TDSKRADIO16 BITMAP "ComponentIcons\\TDSKRADIO16.bmp"
TDSKRADIO32 BITMAP "ComponentIcons\\TDSKRADIO32.bmp"
TDSKRADIOGROUP BITMAP "ComponentIcons\\TDSKRADIOGROUP.bmp"
TDSKRADIOGROUP16 BITMAP "ComponentIcons\\TDSKRADIOGROUP16.bmp"
TDSKRADIOGROUP32 BITMAP "ComponentIcons\\TDSKRADIOGROUP32.bmp"
TDSKSLIDER BITMAP "ComponentIcons\\TDSKSLIDER.bmp"
TDSKSLIDER16 BITMAP "ComponentIcons\\TDSKSLIDER16.bmp"
TDSKSLIDER32 BITMAP "ComponentIcons\\TDSKSLIDER32.bmp"
TDSKCHECKBOX BITMAP "ComponentIcons\\TDSKCHECKBOX.bmp"
TDSKCHECKBOX16 BITMAP "ComponentIcons\\TDSKCHECKBOX16.bmp"
TDSKCHECKBOX32 BITMAP "ComponentIcons\\TDSKCHECKBOX32.bmp"
TDSKCHECKBOXGROUP BITMAP "ComponentIcons\\TDSKCHECKBOXGROUP.bmp"
TDSKCHECKBOXGROUP16 BITMAP "ComponentIcons\\TDSKCHECKBOXGROUP16.bmp"
TDSKCHECKBOXGROUP32 BITMAP "ComponentIcons\\TDSKCHECKBOXGROUP32.bmp"
TDSKSWITCH BITMAP "ComponentIcons\\TDSKSWITCH.bmp"
TDSKSWITCH16 BITMAP "ComponentIcons\\TDSKSWITCH16.bmp"
TDSKSWITCH32 BITMAP "ComponentIcons\\TDSKSWITCH32.bmp"
TDSKSWITCHGROUP BITMAP "ComponentIcons\\TDSKSWITCHGROUP.bmp"
TDSKSWITCHGROUP16 BITMAP "ComponentIcons\\TDSKSWITCHGROUP16.bmp"
TDSKSWITCHGROUP32 BITMAP "ComponentIcons\\TDSKSWITCHGROUP32.bmp"
TDSKSELECT BITMAP "ComponentIcons\\TDSKSELECT.bmp"
TDSKSELECT16 BITMAP "ComponentIcons\\TDSKSELECT16.bmp"
TDSKSELECT32 BITMAP "ComponentIcons\\TDSKSELECT32.bmp"
TDSKEDIT BITMAP "ComponentIcons\\TDSKEDIT.bmp"
TDSKEDIT16 BITMAP "ComponentIcons\\TDSKEDIT16.bmp"
TDSKEDIT32 BITMAP "ComponentIcons\\TDSKEDIT32.bmp"
TDSKPROGRESSBAR BITMAP "ComponentIcons\\TDSKPROGRESSBAR.bmp"
TDSKPROGRESSBAR16 BITMAP "ComponentIcons\\TDSKPROGRESSBAR16.bmp"
TDSKPROGRESSBAR32 BITMAP "ComponentIcons\\TDSKPROGRESSBAR32.bmp"
TDSKCIRCULARPROGRESS BITMAP "ComponentIcons\\TDSKCIRCULARPROGRESS.bmp"
TDSKCIRCULARPROGRESS16 BITMAP "ComponentIcons\\TDSKCIRCULARPROGRESS16.bmp"
TDSKCIRCULARPROGRESS32 BITMAP "ComponentIcons\\TDSKCIRCULARPROGRESS32.bmp"
TDSKSTEPPER BITMAP "ComponentIcons\\TDSKSTEPPER.bmp"
TDSKSTEPPER16 BITMAP "ComponentIcons\\TDSKSTEPPER16.bmp"
TDSKSTEPPER32 BITMAP "ComponentIcons\\TDSKSTEPPER32.bmp"
TDSKTABS BITMAP "ComponentIcons\\TDSKTABS.bmp"
TDSKTABS16 BITMAP "ComponentIcons\\TDSKTABS16.bmp"
TDSKTABS32 BITMAP "ComponentIcons\\TDSKTABS32.bmp"
TDSKSNACKBAR BITMAP "ComponentIcons\\TDSKSNACKBAR.bmp"
TDSKSNACKBAR16 BITMAP "ComponentIcons\\TDSKSNACKBAR16.bmp"
TDSKSNACKBAR32 BITMAP "ComponentIcons\\TDSKSNACKBAR32.bmp"
TDSKLABEL BITMAP "ComponentIcons\\TDSKLABEL.bmp"
TDSKLABEL16 BITMAP "ComponentIcons\\TDSKLABEL16.bmp"
TDSKLABEL32 BITMAP "ComponentIcons\\TDSKLABEL32.bmp"
